.backgroundImage{
    height: 113.5vh !important;
    zoom:0.90!important;
    background-repeat: no-repeat!important;
    background:cover!important;
    background-size: cover!important;
    background-position: center center!important;
}
@media screen and (max-width: 1190px) {
  .backgroundImage {
     height: 150vh !important;
  }
}
.body{
  /* zoom:0.90!important; */
}